footer.footer(data-aos='zoom-in' data-aos-delay='180')
  .container
    .about-us(data-aos='fade-right' data-aos-delay='500')
      h2 Websites
      .footer-content
        a(href='/') Home
        a(href='/Checker') Contrast Checker
        a(href='/Enhanced') Enhanced Ratio
        a(href='hbb') About us
    .newsletter(data-aos='fade-right' data-aos-delay='400')
      h2 Newsletter
      p.newsletter-para Email us if anything goes wrong
      .form-element.email
        input(type='text' placeholder='Email')
        span
          i.fas.fa-chevron-right.email-icon
    .follow(data-aos='fade-left' data-aos-delay='500')
      h2 Follow Us
      p.follow-para Let us be social
      .links
        a.gita(href='/pop')
          i.fab.fa-github
        a.twt(href='/pop')
          i.fab.fa-twitter
        a.fb(href='/pop')
          i.fab.fa-facebook
  .rights
    h4.text-gray
      | copyright &copy; 2021 All rights reserved 
      span |
      |  made by
      span.author-
        a.author--(href='/pop') Group 3
