nav.navbar.navbar-expand-lg.navbar-light.bg-danger.topAttention
  a.navbar-brand.topAttention(href='#') This Web is under Development
header.header.float
  h1.primary-heading
    a.nav-list.first(href='#') Colors
  nav.navigation
    ul.nav-main
      li
        a.nav-list(href='/') Home
      li
        a.nav-list(href='/Checker') Contrast Checker
      li
        a.nav-list(href='/Enhanced') Enhanced
      li
        a.nav-list(href='/Pallete') Pallete
      li
        a.nav-list.last(href='pop') Learn More
  i.fas.fa-bars.icon-mobile-nav(name='open-container' type='button' onclick='openNav()')
  i.fas.fa-times.icon-mobile-nav(name='close-container' type='button' onclick='closeNav()')

script(type='text/javascript').
  let btnNav = document.querySelector('.icon-mobile-nav');
  let header = document.querySelector('.header');
  // btnNav.addEventListener('click', function () {
  //   header.classList.toggle('nav-open');
  // });
  function openNav() {
  header.classList.toggle('nav-open');
  }
  function closeNav() {
  header.classList.remove('nav-open');
  }


